img,
svg {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

figcaption {
  font-size: var(--text-sm);
  color: var(--gray-600);
}

/* Effet bi-ton */

.duotone {
  background-color: var(--brand-saumon);
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.duotone::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--brand-violet);
  mix-blend-mode: lighten;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.duotone img {
  filter: grayscale(100%);
  flex: 1 0 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.duotone.single__img img {
  align-self: flex-start; 
}