.menu {
  display: flex;
  font-size: var(--text-xl);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--brand-violet);
  line-height: 1.5;
  font-weight: 300;
  text-transform: inherit;
  opacity: 0;
  transition: all .4s ease-in-out;
}

.menu--open {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25vh;
  margin-left: 10vw;
}

.menu__item {
  position: relative;
  margin-top: 10%;
}

.menu__link {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  color: var(--gray-white);
  text-decoration: none;
}

.menuBurger {
  position: relative;
  width: 30px;
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuBurger__bar,
.menuBurger__bar::before,
.menuBurger__bar::after {
  content: '';
  background: var(--gray-black);
  height: 2px;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  left: 0;
  z-index: 10;
  transition: all .4s ease-in-out;
}

.menuBurger__bar::before {
  top: -10px;
}

.menuBurger__bar::after {
  top: 10px;
}

.menuBurger--open .menuBurger__bar, 
.menuBurger--open .menuBurger__bar::before,
.menuBurger--open .menuBurger__bar::after {
  transform: rotate(135deg);
  background: var(--gray-white);
}

.menuBurger--open .menuBurger__bar::before,
.menuBurger--open .menuBurger__bar::after {
  top: 0;
  transform: rotate(90deg);
}